.topo {
    display: flex;
    background-color: rgb(29, 113, 134);
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    
}
.card{
    margin: auto;
    
}
.form-select  {
    margin: auto;
}

.card-img-top {
    padding-top: 0%;
}

